<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>detail</h1>

    {{class_pk}}
    {{Students_q}}
    {%for students in Students_q%}
        <br/>
        <a href="{% url 'students_detail' students.pk%}"> 
        {{students.name}}
        </a>
        <br/>
    {%endfor%}

    <a href="{% url 'add' class_pk %}" method="POST"><button type="submit">add</button></a>
    <br/> 

    
    
</body>
</html>