<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>detail</h1>

    {{class_pk}}

    
    {% for students in Students_obj %}
        
        <li>
            <a href="{% url 'students_detail' students.pk %}">
            {{students.name}}
            </a>
        </li>
        
    {% endfor %} 

    <a href="{% url 'add' Class_obj.pk %}"><button type="submit">add</button></a>

    <br/>

    {% comment %} <a href="{% url 'edit' Students_obj.pk %}"><button type="submit">edit</button></a> {% endcomment %}
    
</body>
</html>