<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>edit</h1>
    {{student.pk}}
    <form action="{% url 'edit' student.pk %}" method="POST">
        {% csrf_token %}
        <input value="{{student.name}}" name="name" placeholder="이름" />
        <br/>
        <input value="{{student.phon_num}}" name="phon_num" placeholder="연락처" />
        <br/>
        <input value="{{student.intro_text}}" name="intro_text" placeholder="자기소개" />
        <button type="submit">수정하기</button>
    </form>
</body>
</html>