<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
            <h1>student_detail</h1>
            {{student_obj.pk}}

        <h2>내 이름은 : {{student_obj.name}}</h2>
        <h2>내 폰 번호 : {{student_obj.phon_num}}</h2>
        <h2>내 소개 : {{student_obj.intro_text}}</h2>
        <br/>
        <a href="{% url 'edit' student_obj.pk %}"><button type="submit">수정하기</button></a>
    
</body>
</html>